/**
 * style.css
 * definice stylu pro KJ nabytek
 *
 * Autor: Vojtech Krupicka
 *
 * Kodovani: UTF-8
 * Prezentuji.cz
 */

/* Zruseni mezer v elementech */
* {
	margin: 0;
	padding: 0;
	border: none;
} 
a[href^="error:"] {
	background: red;
	color: white;
}
#ajax-spinner {
	margin: 15px 0 0 15px;
	padding: 13px;
	background: transparent url('./images/spinner.gif') no-repeat center center;
	font-size: 0;
	z-index: 123456;
	display: none;
	width: 32px;
	height: 32px;
}

/* Definice tela dokumentu */
body {
	background-color: #FEFEFE;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}
/* Pomocna trida pro zruseni obtekani blokovych elementu */
.cleaner {
	display: block;
	width: auto;
	height: 0;
	clear: both;
	font-size: 0;
}

.right {
	text-align: right;
}
.center {
	text-align: center;
}


/** ************************************************************  CONTAINER  **/

#headerWrapper {
	height: 135px;
	background: #090909 url(./images/bg-header-wrapper.png) repeat-x left top;
	padding: 0;
}

#middleWrapper {
	background: #FEFEFE url(./images/bg-middle-wrapper.png) repeat-x left top;
	padding: 0;
	min-height: 740px;
}

#footerWrapper {
	height: 60px;
	background: #FEFEFE url(./images/bg-footer-wrapper.png) repeat-x left top;
	padding: 0;
}


/** ***************************************************************  HEADER  **/

#header {
	width: 960px;
	height: 120px;
	background: transparent url(./images/bg-header.png) no-repeat 0 -320px;
	margin: 0 auto;
	padding: 0;
	position: relative;
	top: 7px;
	left: 0;
}

/** ******************************************************************* logo **/
#header .logo {
	float: left;
	margin: 6px 0 0 12px;
	position: relative;	
}
#header .logo h1, #header .logo a img {
	display: none;
}
#header .logo h2 {
	margin: 60px 0 0 156px;
	font-size: 12px;
	font-weight: normal;
	color: #99B0BE;
}
#header .logo a {
	position: absolute;
	top: 0;
	left: 0;
	float: left;
	display: block;
	width: 600px;
	height: 112px;
	background: transparent url(./images/bg-logo.png) no-repeat 1px 0;
}

/** ******************************************************************* menu **/
#header .menu {
	float: right;
	margin: 36px 0 0;
}
#header .menu li {
	float: left;
	list-style: none;
}
#header .menu li a {
	display: block;
	line-height: 29px;
	padding: 0 12px;
	margin: 8px 4px;
	text-decoration: none;
	color: #FCFCFC;
	font-size: 14px;
	border-radius: 3px;
}
#header .menu li a:hover, #header .menu li a.active {
	color: #0B0B0B;
	background: transparent url(./images/bg-header-menu.png) repeat-x center center;
}


/** **************************************************************** FOOTER **/

#footer {
	width: 960px;
	height: 60px;
	margin: 0 auto;
	padding: 0;
	position: relative;
}

/** ***************************************************************** bottom **/
#footer .top {
	padding: 28px 4px;
}

#footer .box {
	float: left;
	width: 180px;
}
#footer .boxFirst {
	margin-left: 8px;
	float: left;
	width: 406px;
}
#footer .boxLast {
	float: left;
	margin-right: 8px;
	width: 346px;
}


#footer .box h2 {
	font-size: 16px;
	color: #F2F2F2;
	line-height: 28px;
}
#footer .box p {
	float: left;
	margin: 0 0 0 12px;
	color: #C4C4C4;
	line-height: 150%;
}

#footer .box dl {
	color: #C4C4C4;
	margin: 4px 16px 0 12px;
	line-height: 150%;
	float: left;
}
#footer .box dt {
	clear: both;
	float: left;
}
#footer .box dd {
	color: #F8F8F8;
	float: left;
	margin: 0 0 0 8px;
}


#footer .box ul {
	margin: 4px 8px 0 16px;
}
#footer .box ul li {
	float: left;
	width: 86px;
	line-height: 24px;
	margin: 0;
	padding: 0 0 0 16px;
	list-style: none;
	background: transparent url(./images/icon-arrow.png) no-repeat center left;	
}
#footer .box a {
	color: #99B0BE;
	text-decoration: none;
}
#footer .box a:hover {
	text-decoration: underline;
}

/** ***************************************************************** bottom **/
#footer .bottom {
	top: 6px;
	position: absolute;
	clear: both;
	height: 50px;
	width: 960px;
	left: 0;
	bottom: 0;
}

#footer .bottom .menu {
	float: left;
}
#footer .bottom .menu li {
	float: left;
	list-style: none;
}
#footer .bottom .menu li a {
	display: block;
	margin: 0 12px;
}


#footer .bottom .copyright {
	float: right;
	line-height: 53px;
	font-size: 11px;
	color: #6E6E6E;
}


#footer .bottom a {
	color: #8E8E8E;
	text-decoration: none;
	line-height: 52px;
	font-size: 11px;
}
#footer .bottom a:hover, #footer .bottom a.active {
	color: #C4C4C4;
	text-decoration: underline;
}


/** ******************************************************************* LEFT **/

#left {
	float: left;
	width: 200px;
	margin: 4px 0 40px 40px;
}

#left h2 {
	font-size: 18px;
	color: #003155;
	line-height: 28px;
	border-bottom: 1px #E6E6E6 solid;
	padding: 0 0 6px;
	text-shadow: 1px 1px 1px #99B0BE;
}

/** ******************************************************************* menu **/

#left .menu {
	margin: 0 0 28px 0;
}
#left .menu li {
	list-style: none;
	line-height: 28px;
	border-top: 1px #E6E6E6 solid;
} 
#left .menu li.first {
	border-top: none;
}
#left .menu li.last {
	border-bottom: 1px #E6E6E6 solid;
}
#left .menu li a {
	display: block;
	line-height: 28px;
	padding: 0 0 0 24px;
	color: #880000;
	text-decoration: none;
	font-size: 13px;
}
#left .menu li a:hover, #left .menu li a.active {
	background: #F2F2F2 url("./images/icon-arrow.png") no-repeat scroll 6px 12px;
}
#left .menu li li a {
	padding: 0 0 0 48px;
}
#left .menu li li li a {
	padding: 0 0 0 64px;
}
#left .menu li li li li a {
	padding: 0 0 0 96px;
}


/** ******************************************************************* news **/

#left .box {
	margin: 4px 0 32px 0;
}

#left .box .newsItem {
	margin: 16px 0;
}
#left .box .newsItem .date {
	color: #880000;
	font-size: 13px;
	font-weight: bold;
}
#left .box .newsItem h3 a {
	text-decoration: underline;
	color: #003155;
	font-size: 13px;
	font-weight: bold;
}
#left .box .newsItem h3 a:hover {
	text-decoration: none;
	color: #99B0BE;
}
#left .box .newsItem p {
	line-height: 150%;
	color: #2F4754;
}
#left .box .newsItem a {
	color: #880000;
}
#left .box .newsItem a:hover {
	text-decoration: none;
	color: #CC0000;
}
#left .box a.showAll {
	text-align: center;
	color: #880000;
	font-size: 13px;
	font-weight: bold;
}
#left .box a.showAll:hover {
	text-decoration: none;	
	color: #CC0000;
}


/** ***************************************************************  MIDDLE  **/

#middle {
	width: 960px;
	margin: 0 auto;
	padding: 20px 0 16px 0;
}


/** **************************************************************** CONTENT **/

#content {
	float: right;
	width: 660px;
	margin: 4px 0 40px 0;
}
#content h1 {
	font-size: 42px;
	color: #003155;
	line-height: 56px;
	border-bottom: 1px #99B0BE solid;
	margin: 0 32px 8px 0; 
	font-family: "Times New Roman", serif;
	text-shadow: 1px 1px 2px #003155;
}
#content h1 a.backlink {
	display: block;
	float: right;
	width: 32px;
	height: 32px;
	background: transparent url(./images/icon-backlink.png) no-repeat center center;
	margin: 16px 0 0 0;
}
#content h2 {
	font-size: 24px;
	color: #880000;
	line-height: 44px;
	border-bottom: 1px #E6E6E6 solid;
	margin: 0 32px 0 0;
}

/** **************************************************************** breadcrumb **/
#content .breadcrumb {
	margin: 8px 0;
}
#content .breadcrumb li {
	list-style: none;
	float: left;
}
#content .breadcrumb li a {
	color: #880000;
}
#content .breadcrumb li a:hover, #content .breadcrumb li a.active {
	color: #003155;
	text-decoration: none;
}
#content .breadcrumb li span {
	color: #99B0BE;
	padding: 0 6px;
}

/** **************************************************************** gallery **/

#content .gallery {
	
}
#content .gallery .item {
	float: left;
	width: 188px;
	height: 130px;
	background: transparent url(./images/bg-image-body.png) no-repeat center center;
	padding: 36px 13px;
	margin: 0 4px;
}
#content .gallery .itemFirst {
	margin-left: 0;
}
#content .gallery .itemLast {
	margin-right: 0;
}
#content .gallery .item img {
	display: block;
	width: 188px;
	height: 128px; 
}

/** **************************************************************** wysiwyg **/
#content .wysiwyg {
	color: #2F4754;
	
}
#content .wysiwyg h2 {
	border-bottom: none;	
}
#content .wysiwyg h3 {
	font-size: 16px;
	color: #003155;
	line-height: 28px;
}
#content .wysiwyg p {
	font-family: "Times New Roman", serif;
	font-size: 16px;
	line-height: 150%;
	margin: 12px 8px 16px 0;
	/*text-align: justify;*/
}
#content .wysiwyg a {
	color: #880000;
}
#content .wysiwyg a:hover {
	text-decoration: none;
	color: #CC0000;
}
#content .wysiwyg ul {
	margin: 0 16px 0 24px;
}
#content .wysiwyg ul li {
	font-family: "Times New Roman", serif;
	font-size: 16px;
	line-height: 175%;
	padding: 0 0 0 20px;
	background: transparent url(./images/icon-arrow.png) no-repeat 0 12px;
	list-style: none;
}
#content .wysiwyg blockquote {
	border-left: 2px #99B0BE solid;
	margin: 8px 10px 8px 24px;
	padding: 0 0 0 16px; 
}
#content .wysiwyg blockquote h2 {
	color: #003155;
	font-size: 14px;
	line-height: 20px;
	border-bottom: 1px #99B0BE solid;
}


/** ******************************************************************* forms **/

#content form {
	width: 100%;
	margin: 0;
	padding: 0;
}
#content form table.form {
	width: 100%;
	margin: 16px 0;
	color: #003155;
	font-size: 13px;	
}
#content form table.form tr.required {
	color: #880000;
}
#content form table.form th {
	text-align: left;	
	white-space: nowrap;
	width: 25%;
	line-height: 28px; 
	vertical-align: top;
}
#content form table.form td {
	
}
#content form table.form input {
	width: 450px;
	height: 22px;
	line-height: 22px;
	border: 1px #99B0BE solid;
	border-radius: 3px;
	padding: 0 4px; 
	color: #003155;
}
#content form table.form textarea {
	width: 450px;
	max-width: 450px;
	min-width: 450px;
	line-height: 16px;
	border: 1px #99B0BE solid;
	border-radius: 3px;
	padding: 4px; 
	color: #003155;
	font-family: Arial, sans-serif;
	font-size: 14px;
}
#content form table.form textarea.wide {
	width: 615px;
	min-width: 615px;
	max-width: 615px;
	
}
#content form table.form select {
	height: 24px;
	line-height: 24px;
	border: 1px #99B0BE solid;
	border-radius: 3px;
	padding: 2px 4px; 
	color: #003155;
}
#content form table.form select option {
	height: 20px;
	line-height: 20px;
	padding: 2px 4px;
}
#content form table.form input[type="checkbox"] {
	float: left;
	width: 32px;
}
#content form table.form input[type="radio"] {
	float: left;
	width: 32px;
}
#content form table.form input[type="submit"] {
	float: left;
	width: auto;
	height: 26px;
	margin: 0 12px 0 0;
	padding: 0 10px;
	color: #003155;
	font-weight: bold;
	cursor: pointer;
	font-size: 13px;
	background: #F2F2F2;
}
#content form table.form label {
	line-height: 24px;
}
#content form ul.error {
	margin: 20px 16px 20px 0;
	color: #CC0000;
	font-size: 13px;
	font-weight: bold;
}
#content form ul.error li {
	list-style: none;
	background: transparent url(./images/close.png) no-repeat center left;
	padding-left: 22px; 
	line-height: 22px;
}


/** *********************************************************** flash messages **/

#content .flashes {
	margin: 0 10px 10px 0;
	padding: 6px 10px;
	background-color: #F2F2F2;
	width: 606px;
	border: 1px #99B0BE solid;
	border-radius: 3px;
}
#content .flashes ul {
	padding-left: 16px;
	font-size: 13px;
	font-weight: bold;
}
#content .flashes ul li {
	line-height: 22px;
}
#content .flashes ul li.info {
	color: #2A7E3E;
}
#content .flashes ul li.warning {
	color: #99B0BE;
}
#content .flashes ul li.error {
	color: #CC0000;
}


/** **************************************************************** comments **/

#content .comments {
	margin: 16px 0;
}
#content .comments .bar {
	border: 1px solid #99B0BE;
    border-radius: 3px 3px 3px 3px;
    color: #003155;
    height: 28px;
    line-height: 22px;
    padding: 0 16px;
    background: #F2F2F2;
    width: 600px;
}
#content .comments .bar a {
	color: #003155;
	font-weight: bold;
	font-size: 14px;
	text-decoration: none;
	display: block;
	line-height: 28px; 
}
#content .comments .bar a:hover {
	color: #CC0000;
}
#content .comments .bar a.up {
	background: transparent url(./images/icon-normal-arrow-up.png) no-repeat center right;
}
#content .comments .bar a.down {
	background: transparent url(./images/icon-normal-arrow-down.png) no-repeat center right;
}

#content .comments .comment {
	margin: 16px 0;
	background: transparent url(./images/bg-middle-wrapper.png) repeat-x top left;
	border: 1px solid #99B0BE;
    border-radius: 3px 3px 3px 3px;
    padding: 8px;
    width: 616px;
}
#content .comments .even {
	background-color: #F2F2F2;
}

#content .comments .comment .header {
	height: 56px;
}
#content .comments .comment .id {
	margin: 2px 0 0 0;
	float: left;
}
#content .comments .comment .id a {
	display: block;
	width: 56px;
	height: 56px;
	line-height: 56px;
	margin: 0 6px;
	border: 1px #99B0BE dashed;
	background-color: #F2F2F2;
	text-align: center;
	font-size: 18px;
	text-decoration: none;
	color: #003155;   
}
#content .comments .comment .id a:hover {
	color: #CC0000;   
}
#content .comments .comment .author {
	float: left;	
}
#content .comments .comment .author h2 {
	margin-left: 6px;
	color: #003155;
	font-size: 18px;
	line-height: 24px;
	border: none;
}
#content .comments .comment .author h2 a {
	text-decoration: none;
	color: #880000;
}
#content .comments .comment .author h2 a:hover {
	color: #CC0000;
}
#content .comments .comment .author h3 {
	margin-left: 6px;
	color: #003555;
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
}
#content .comments .comment .author h3 a {
	text-decoration: none;
	color: #880000;
}
#content .comments .comment .author h3 a:hover {
	color: #CC0000;
}

#content .comments .comment .info {
	float: right;
	margin: 4px 6px 0 0;
}
#content .comments .comment .info .tools {
	text-align: right;
	float: left;
}
#content .comments .comment .info .tools .time {
	font-weight: bold;
	font-size: 14px;
	line-height: 20px;
	color: #003155;
}
#content .comments .comment .info .tools ul li {
	list-style: none;
	float: right;
	height: 22px;
	line-height: 22px;
	margin: 0 0 0 8px;
}
#content .comments .comment .info .tools ul li a {
	border: 1px solid transparent;
	display: block;
	padding: 2px;
	color: #880000;	
}
#content .comments .comment .info .tools ul li a:hover {
	border: 1px solid #99B0BE;
    border-radius: 3px 3px 3px 3px;
    background-color: #F2F2F2;
    text-decoration: none;
	color: #CC0000;	
}

#content .comments .comment .content {
	margin: 16px 6px 10px 6px;
	padding: 6px 0 0 0;
	border-top: 1px #99B0BE solid;
	clear: both;
}
#content .comments .comment .content p {
	font-family: "Times New Roman", serif;
	font-size: 16px;
	line-height: 150%;
	margin: 12px 8px 16px 0;
	text-align: justify;
}


#content .comments .error {
	margin: 16px 10px 10px 0;
	padding: 6px 10px;
	background-color: #F2F2F2;
	border: 1px #99B0BE solid;
	border-radius: 3px;
	padding-left: 16px;
	font-size: 13px;
	font-weight: bold;
	line-height: 22px;
	color: #CC0000;
	width: 606px;
}
#content .nothingToShow {
	margin: 16px 10px 10px 0;
	padding: 6px 10px;
	background-color: #F2F2F2;
	border: 1px #99B0BE solid;
	border-radius: 3px;
	padding-left: 16px;
	font-size: 13px;
	font-weight: bold;
	line-height: 22px;
	color: #CC0000;
	width: 606px;
}


/** ****************************************************** gallery items edit **/

#content .gallery-items {
	margin: 32px 0;
}

#content .gallery-items .item {
	margin: 16px 0;
	background: transparent url(./images/bg-middle-wrapper.png) repeat-x top left;
	border: 1px solid #99B0BE;
    border-radius: 3px 3px 3px 3px;
    padding: 8px;
    width: 616px;
}
#content .gallery-items .item .left {
	width: 134px;
	min-width: 134px;
	float: left;
}
#content .gallery-items .item .left img {
	width: 128px;
}
#content .gallery-items .item .info {
	width: 300px;
	float: left;
}
#content .gallery-items .item .info a {
	font-weight: bold;
	color: #880000;
}
#content .gallery-items .item .info a:hover {
	text-decoration: none;
	color: #CC0000;
}
#content .gallery-items .item .info table {
	margin: 0;
}
#content .gallery-items .item .info input {
	width: 256px;
}
#content .gallery-items .item .info textarea {
	width: 318px;
	max-width: 318px;
	min-width: 318px;
}
#content .gallery-items .item .info input[type="submit"] {
	width: 60px;
}
#content .gallery-items .item .tools {
	width: 144px;
	float: right;
	text-align: right;
}

#content .gallery-items .item .tools .time {
	font-weight: bold;
	font-size: 14px;
	line-height: 20px;
	color: #003155;
}
#content .gallery-items .item .tools ul li {
	list-style: none;
	float: right;
	height: 22px;
	line-height: 22px;
	margin: 0 0 0 8px;
}
#content .gallery-items .item .tools ul li a {
	border: 1px solid transparent;
	display: block;
	padding: 2px;
	color: #880000;	
}
#content .gallery-items .item .tools ul li a:hover {
	border: 1px solid #99B0BE;
    border-radius: 3px 3px 3px 3px;
    background-color: #F2F2F2;
    text-decoration: none;
	color: #CC0000;	
}



/** *********************************************************** datagrid **/

#content table.datagrid {
	width: 100%;
	margin: 16px 0;
}
#content table.datagrid th {
	line-height: 24px;
	height: 24px;
	border: 1px #003155 solid;
	border-radius: 3px;
	background: #99B0BE;
	color: #F2F2F2;	
	padding: 0 8px;
	text-align: center;
}
#content table.datagrid td {
	line-height: 32px;
	height: 32px;
	border: 1px #99B0BE solid;
	border-radius: 3px;
	color: #003155;
	padding: 0 8px;
	text-align: center;
	white-space: nowrap;
}
#content table.datagrid .left {
	text-align: left !important;
}
#content table.datagrid .even td {
	background: #F2F2F2;
}
#content table.datagrid a {
	color: #880000;
	font-weight: bold;	
}
#content table.datagrid a:hover {
	color: #CC0000;
	text-decoration: none;	
}


/** ************************************************************** icons **/
#content .mainTools {
	margin: 0 0 40px 0;
}
#content .mainTools a {
	font-weight: bold;
	padding: 0 4px 0 0;
}
#content .mainTools img {
	float: left;
	margin: 0 4px 0 0;
}


#content .tools ul li {
	list-style: none;
	float: right;
	height: 22px;
	line-height: 22px;
	margin: 0 4px 0 4px;
}
#content .tools ul li a {
	border: 1px solid transparent;
	display: block;
	color: #880000;	
}
#content .tools ul li a:hover {
	border: 1px solid #99B0BE;
    border-radius: 3px 3px 3px 3px;
    background-color: #F2F2F2;
    text-decoration: none;
	color: #CC0000;	
}
#content .tools img {
	border: 1px solid transparent;
	display: block;
	width: 18px;
	height: 18px;
	background: transparent none no-repeat center center;
}
#content .tools img.add {
	background-image: url(./images/icon-add-green.png);
}
#content .tools img.add-disabled {
	background-image: url(./images/icon-add-gray.png);
}
#content .tools img.page-edit {
	background-image: url(./images/icon-page-edit.png);
}
#content .tools img.page-edit-disabled {
	background-image: url(./images/icon-page-edit-disabled.png);
}
#content .tools img.menu-item-edit {
	background-image: url(./images/icon-menu-item-edit.png);
}

#content .tools img.activate {
	background-image: url(./images/icon-active.png);
}
#content .tools img.deactivate {
	background-image: url(./images/icon-active-none.png);
}
#content .tools img.delete {
	background-image: url(./images/icon-delete.png);
}
#content .tools img.move-up {
	background-image: url(./images/icon-move-up-blue.png);
}
#content .tools img.move-up-disabled {
	background-image: url(./images/icon-move-up-gray.png);
}
#content .tools img.move-down {
	background-image: url(./images/icon-move-down-blue.png);
}
#content .tools img.move-down-disabled {
	background-image: url(./images/icon-move-down-gray.png);
}
#content .tools img.gallery-edit {
	background-image: url(./images/icon-gallery-edit.png);
}
#content .tools img.comment-reply {
	background-image: url(./images/icon-comment-add.png);
}
#content .tools img.comment-edit {
	background-image: url(./images/icon-comment-edit.png);
}
#content .tools img.comment-delete {
	background-image: url(./images/icon-comment-delete.png);
}

/** ************************************************************** references **/
#content .references p {
	font-size: 13px;
	line-height: 150%;
	color: #222222;
	margin: 0 32px 16px 0;
}
#content .references table {
	margin: 16px auto;
	text-align: center;
	width: 75%;
}
#content .references table a {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
}
#content .references a {
	color: #880000;
}
#content .references a:hover {
	text-decoration: none;
	color: #CC0000;
}



/** ****************************************************** IE 6.0 bug fix **/

*html #header .menu li {
	width: 0;
	white-space: nowrap;
} 
*html #footer .boxLast {
	width: 306px;
}
*html #left {
	margin-left: 24px;
}

*html #middleWrapper {
	background-image: url(./images/msie/bg-middle-wrapper.png);
}
*html #header .logo a {
	background-image: url(./images/msie/logo7_small.png);
}
*html #footer .box ul li {
	background-image: url(./images/msie/icon-arrow.png);	
}
*html #left .menu li a:hover, *html #left .menu li a.active {
	background-image: url("./images/msie/icon-arrow.png");
}
*html #content .wysiwyg ul li {
	background-image: url(./images/msie/icon-arrow.png);
}
