{var $robots = noindex}
{block #content}

<h1 n:block=title>Metoda není povolena</h1>

<div class="wysiwyg">
	<p>Požadovaná metoda požadavku není pro danou URL povolena.</p>
	<p><small>error 405</small></p>
</div>