{varType string $heading}

{if $menuItems->count()}
<h2>{$heading ?: 'Navigace'}</h2>
<div class="menu">
    {var $level = 0}
    {block leftMenuTree}
    <ul>
        <li n:foreach="$menuItems as $item" n:class="($level == 0 && $iterator->first) ? first, ($level == 0 && $iterator->last) ? last">
        {include 'item.latte', item: $item}

        {var $childrens = $control->getMenuItems($item->id, true, 'ASC')}
        {if $childrens->count()}
            {include #leftMenuTree, menuItems => $childrens, level => $level + 1}
        {/if}
        </li>
    </ul>
    {/block}
</div>
{/if}
