{**
 * @filesource  Default/default.latte
 * 
 * @author      Ing. Vojtech Krupicka
 * @copyright   HassaSimple Framework
 * @package     AdminModule
 * @version     1.0.0
 *}
 
{block #content}
<div class="breadcrumb">
	<ul>
		<li><a title="Úvod" n:href=":Front:Homepage: id => NULL">Úvod</a><span>&gt;</span></li>
		<li><a title="Diskuze" n:href=":Front:Guestbook: id => NULL" class="active">Diskuze</a></li>
	</ul>
	<div class="cleaner"></div>
</div>

<h1 n:block=title>Diskuze</h1>

{control guestbookComments}