{**
 * @filesource  Cms/add.latte
 * 
 * @author      Ing. Vojtech Krupicka
 * @copyright   HassaSimple Framework
 * @package     AdminModule
 * @version     1.0.0
 *}
 
{block #content}
<div class="breadcrumb">
	<ul>
		<li><a title="Úvod" n:href=":Admin:Default: id => NULL">Úvod</a><span>&gt;</span></li>
		<li><a title="Vlastní stránky" n:href=":Admin:Cms: id => NULL">Vlastní stránky</a><span>&gt;</span></li>
		<li><a title="Nová položka" n:href="this" class="active">Nová položka</a></li>
	</ul>
	<div class="cleaner"></div>
</div>

<h1 n:block=title>Nová položka menu <a class="backlink" n:href=":Admin:Cms: id => NULL" title="Vrátit zpět na předchozí stránku"></a></h1>

{control menuItemAdd}
