{**
 * @filesource  Cms/comments.latte
 * 
 * @author      Ing. Vojtech Krupicka
 * @copyright   HassaSimple Framework
 * @package     AdminModule
 * @version     1.0.0
 *}
 
{block #content}
<div class="breadcrumb">
	<ul>
		<li><a title="Úvod" n:href=":Admin:Default: id => NULL">Úvod</a><span>&gt;</span></li>
		<li><a title="Vlastní stránky" n:href=":Admin:Cms: id => NULL">Vlastní stránky</a><span>&gt;</span></li>
		<li><a title="Komentáře" n:href="this" class="active">Komentáře</a></li>
	</ul>
	<div class="cleaner"></div>
</div>


<h1 n:block=title>Komentáře</h1>
