{**
 * @filesource  Default/default.latte
 * 
 * @author      Ing. Vojtech Krupicka
 * @copyright   HassaSimple Framework
 * @package     AdminModule
 * @version     1.0.0
 *}
 
 
{define menuTree}
	{foreach $menuItems as $item}
	<tr n:class="(!$level) ? even">
		<td>{$item->id}</td>	
		<td class="left">
			{!str_repeat('&nbsp;', 8*$level)}
			
			{if $item['page_id'] == NULL}
			<a href="{$item->url}" title="{$item->title}">{$item->name}</a>
			{else}
			<a n:href=":Front:Cms: uri => $item->url" title="{$item->title}">{$item->name}</a>
			{/if}
		</td>
		<td class="tools">
			<ul>
				<li><a n:href="delete! itemId => $item->id" title="Smazat galerii" onclick="return confirm('Opravdu chcete smazat tuto položku menu? Tato akce je permamentní!');"><img class="delete" src="{$baseUrl}/images/x.png" alt="" /></a></li>
				
				{if $item['page_id'] != NULL}
				<li><a n:href="editPage id => $item['page_id']" title="Upravit stránku"><img class="page-edit" src="{$baseUrl}/images/x.png" alt="" /></a></li>
				{else}
				<li><img class="page-edit-disabled" src="{$baseUrl}/images/x.png" alt="" /></li>
				{/if}
				<li><a n:href="editItem id => $item->id" title="Upravit položku menu"><img class="menu-item-edit" src="{$baseUrl}/images/x.png" alt="" /></a></li>
				
				{if ($iterator->counter) < $menuItems->count()}
				<li><a n:href="move! itemId => $item->id, up => false" title="Posunout dolu" onclick="return confirm('Opravdu chcete pousnout položku menu dolů?');"><img class="move-down" src="{$baseUrl}/images/x.png" alt="" /></a></li>
				{else}
				<li><img class="move-down-disabled" src="{$baseUrl}/images/x.png" alt="" /></li>
				{/if}
				{if ($iterator->counter-1) > 0}
				<li><a n:href="move! itemId => $item->id, up => true" title="Posunout nahoru" onclick="return confirm('Opravdu chcete pousnout položku menu nahoru?');"><img class="move-up" src="{$baseUrl}/images/x.png" alt="" /></a></li>
				{else}
				<li><img class="move-up-disabled" src="{$baseUrl}/images/x.png" alt="" /></li>
				{/if}
				
				
				{if $item->active}
				<li><a n:href="activate! itemId => $item->id, flag => false" title="Aktivní - deaktivovat?" onclick="return confirm('Opravdu chcete položku menu deaktivovat?');"><img class="activate" src="{$baseUrl}/images/x.png" alt="" /></a></li>
				{else}
				<li><a n:href="activate! itemId => $item->id, flag => true" title="Neaktivní - aktivovat?" onclick="return confirm('Opravdu chcete položku menu aktivovat?');"><img class="deactivate" src="{$baseUrl}/images/x.png" alt="" /></a></li>
				{/if}
				
				{if $level < 3}
				<li><a n:href="add id => $item->id" title="Přidat podpoložku"><img class="add" src="{$baseUrl}/images/x.png" alt="" /></a></li>
				{else}
				<li><img class="add-disabled" src="{$baseUrl}/images/x.png" alt="" /></li>
				{/if}
			</ul>		
		</td>
	</tr>
	{var $childrens = $presenter->context->createMenuItems()->where('parent_id', $item->id)->order('sort_order ASC')}
	{if $childrens->count()}
		{include #menuTree, menuItems => $childrens, level => $level+1}
	{/if}
	{/foreach}
{/define} 
 
 
{block #content}
<div class="breadcrumb">
	<ul>
		<li><a title="Úvod" n:href=":Admin:Default:">Úvod</a><span>&gt;</span></li>
		<li><a title="Vlastní stránky" n:href=":Admin:Cms:" class="active">Vlastní stránky</a></li>
	</ul>
	<div class="cleaner"></div>
</div>

<h1 n:block=title>Vlastní stránky</h1>

{if $homePage}
	<div class="tools mainTools">
		<ul>
			<li><a n:href=":Admin:Cms:editPage id => $homePage->id" title="Upravit úvodní stránku"><img class="page-edit" src="{$baseUrl}/images/x.png" alt="" /> Upravit úvodní stránku</a></li>
		</ul>
	</div>
{else}
	<div class="tools mainTools">
		<ul>
			<li><a n:href="createHomepage!" title="Vytvořit novou úvodní stránku"><img class="add" src="{$baseUrl}/images/x.png" alt="" /> Vytvořit úvodní stránku</a></li>
		</ul>
	</div>
{/if}


<div class="tools mainTools">
	<ul>
		<li><a n:href="add" title="Nová položka menu" class="new"><img class="add" src="{$baseUrl}/images/x.png" alt="" /> Nová položka menu</a></li>
	</ul>
</div>


<div class="cleaner"></div>


{if $menuItems}
<table class="datagrid">
	<tr>
		<th style="width: 32px;">#id</th>
		<th class="left">Název</th>
		<th style="width: 212px;">Volby</th>
	</tr>
	
	{include #menuTree, menuItems => $menuItems, level => 0}
	
</table>
{/if}
