{**
 * @filesource  Cms/editPage.latte
 * 
 * @author      Ing. Vojtech Krupicka
 * @copyright   HassaSimple Framework
 * @package     AdminModule
 * @version     1.0.0
 *}

{block #content}

<div class="breadcrumb">
	<ul>
		<li><a title="Úvod" n:href=":Admin:Default: id => NULL">Úvod</a><span>&gt;</span></li>
		<li><a title="Vlastní stránky" n:href=":Admin:Cms: id => NULL">Vlastní stránky</a><span>&gt;</span></li>
		<li><a title="Úprava stránky" n:href="this" class="active">Úprava stránky</a></li>
	</ul>
	<div class="cleaner"></div>
</div>


<h1 n:block=title>Úprava obsahu stránky<a class="backlink" n:href=":Admin:Cms: id => NULL" title="Vrátit zpět na předchozí stránku"></a></h1>


{if $menuItem !== NULL}
	{*control pageEdit*}
	{form pageEdit}
		<fieldset>
			<table class="form">
				<tr>
					<th>{label created/}</th>
					<td>{input created}</td>
				</tr>
				<tr>
					<th>{label modified/}</th>
					<td>{input modified}</td>
				</tr>
			</table>
		</fieldset>

		
		<fieldset>
			<table class="form">
				<tr>
					<th>{label heading/}</th>
					<td>{input heading}</td>
				</tr>
			</table>
		</fieldset>

		<fieldset>
			<table class="form">
				<tr>
					<th>{label seo_title/}</th>
					<td>{input seo_title}</td>
				</tr>
				<tr>
					<th>{label seo_keywords/}</th>
					<td>{input seo_keywords}</td>
				</tr>
				<tr>
					<th>{label seo_description/}</th>
					<td>{input seo_description}</td>
				</tr>
			</table>
		</fieldset>

		<fieldset>
			<table class="form">
				<tr>
					<th>{label allow_comments/}</th>
					<td>{input allow_comments}</td>
				</tr>
				<tr class="required">
					<th colspan="2"><label>*Obsah stránky:</label></th>
				</tr>
				<tr class="required">
					<td colspan="2">{input content, class=>'wide mceEditorFull'}</td>
				</tr>
			</table>
		</fieldset>

		<fieldset>
			<table class="form">
				<tr>
				<td colspan="2">{input save}{input save_and_back}{input cancel}</td>
				</tr>
			</table>
		</fieldset>
	{/form}


	{if $page['allow_comments']}
		{control pageComments}
	{/if}
{/if}