{**
 * @filesource  @layout.latte
 * 
 * @author      Ing. Vojtech Krupicka
 * @copyright   HassaSimple Framework
 * @package     AdminModule
 * @version     1.0.0 
 *
 * @param string   $basePath absolute web path
 * @param string   $robots   tell robots how to index the content of a page (optional)
 * @param array    $flashes  flash messages
 *}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="cs" xml:lang="cs">
<head>
	<meta http-equiv="Content-Language" content="cs" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Style-Type" content="text/css" />
	<meta name="author" content="Cyklo shop" />
	<meta name="keywords" content="{ifset #seoKeywords}{include #seoKeywords|striptags}{else}cyklo shop, jízdní kola, prodej, servis{/ifset}" />
	<meta name="description" content="{ifset #seoDescription}{include #seoDescription|striptags}{else}Cyklo shop – prodej a servis jízdních kol.{/ifset}" />
	<meta name="robots" content="index, follow" />
	{block meta}{/block}
		
	<title>.: Cyklo shop{ifset #title} | {include #title|striptags}{/ifset} :.</title>

	<link rel="stylesheet" href="{$baseUrl}/css/style.css" type="text/css">
	<link rel="stylesheet" href="{$baseUrl}/css/shadowbox.css" type="text/css">	
	{block css}{/block}
	
	<link rel="shortcut icon" type="image/x-icon" href="{$baseUrl}/css/images/favicon.ico">
		
	<script type="text/javascript" src="{$baseUrl}/javascript/jquery.js"></script>
	<script type="text/javascript" src="{$baseUrl}/javascript/shadowbox.js"></script>
	<script type="text/javascript" src="{$baseUrl}/javascript/jquery.ajaxform.js"></script>
	<script type="text/javascript" src="{$baseUrl}/javascript/jquery.livequery.js"></script>
	<script type="text/javascript" src="{$baseUrl}/javascript/jquery.nette.js"></script>
	<script type="text/javascript" src="{$baseUrl}/javascript/nette.forms.js"></script>
	<script type="text/javascript" src="{$baseUrl}/javascript/tiny_mce/jquery.tinymce.js"></script>
	
	<script type="text/javascript">
	// <![CDATA[
		var baseUrl = '{!$baseUrl}';
	// ]]>
	</script>
				
	<script type="text/javascript" src="{$baseUrl}/javascript/tinymce.config.lite.js"></script>
	{block js}{/block}
	
	<script type="text/javascript">
	// <![CDATA[
		$(document).ready(function(){
			// Initialize shadowbox
			Shadowbox.init({
				counterType: "skip",
				continuous: true,
				overlayColor: '#000011',
				overlayOpacity: 0.8
			});
			
			// Initialize MCE editor
			$('.mceEditorLite').tinymce(HassaMceConfigLite);
		});
	// ]]>
	</script>
</head>

<body>
	
	<div id="headerWrapper">
	
		<div id="header">
		
			<div class="logo">
				<h1>Cyklo shop</h1>
				<a n:href=":Front:Homepage: id => NULL" title="Cyklo shop">
					<img src="./css/images/bg-logo.png" alt="" />
				</a>
			</div>
			
			<div class="menu">
				<ul>
					<li><a n:class="$presenter->name == 'Front:Homepage' ? active" n:href=":Front:Homepage: id => NULL" title="Úvod">Úvod</a></li>
					<li><a n:class="$presenter->name == 'Front:Gallery' ? active" n:href=":Front:Gallery: id => NULL" title="Galerie">Galerie</a></li>
					<li><a n:class="$presenter->name == 'Front:Guestbook' ? active" n:href=":Front:Guestbook: id => NULL" title="Diskuze">Diskuze</a></li>
					<li><a n:class="$presenter->name == 'Front:Contact' ? active" n:href=":Front:Contact: id => NULL" title="Kontakt">Kontakt</a></li>
					<li><a n:class="$presenter->name == 'Front:SiteMap' ? active" n:href=":Front:SiteMap: id => NULL" title="Mapa stránek">Mapa stránek</a></li>
				</ul>
			</div>
			
			<div class="cleaner"></div>
		</div>
		
	</div>
		
	<div id="middleWrapper">
	
		<div id="middle">
		
			<div id="left">
				{if $menuItems->count()}
				<h2>Navigace</h2>
				<div class="menu">
					{var $level = 0}
					{block leftMenuTree}
					<ul>
						{foreach $menuItems as $item}
						<li n:class="($level == 0 && $iterator->first) ? first, ($level == 0 && $iterator->last) ? last">
						{if $item['page_id'] == NULL}
						<a href="{$item->url}" title="{$item->title}">{$item->name}</a>
						{else}
						<a n:href=":Front:Cms: uri => $item->url, id => NULL" title="{$item->title}" n:class="($activeItemId == $item->id) ? active">{$item->name}</a>
						{/if}
						
						{var $childrens = $presenter->context->createMenuItems()->where('parent_id', $item->id)->where('active', true)->order('sort_order ASC')}
						{if $childrens->count()}
							{include #leftMenuTree, menuItems => $childrens, level => $level + 1}
						{/if}
						</li>
						{/foreach}
					</ul>
					{/block}
				</div>
				{/if}
				{*
				<div class="box">
					<h2>Probíhající akce</h2>
					<div class="newsItem">
						<div class="date">16.4.2012</div>
						<h3><a href="http://www.example.com/" title="Lorem ipsum dolor">Lorem ipsum dolor</a></h3>
						<p>sit amet consectetuer cursus condi mentum velit orci elit. Id nascetur tincidunt lobortis nascetur lorem lacinia elit pretium Phasellus tempor.</p>
					</div>
					
					<div class="newsItem">
						<div class="date">16.4.2012</div>
						<h3><a href="http://www.example.com/" title="Lorem ipsum dolor">Lorem ipsum dolor</a></h3>
						<p>sit amet consectetuer cursus condi mentum velit orci elit. Id nascetur tincidunt lobortis nascetur lorem lacinia elit pretium Phasellus tempor.</p>
					</div>
					
					<a class="showAll" href="http://www.example.com/" title="Zobrazit všechny aktuality">Zobrazit všechny aktuality</a>
				</div>
				*}
			</div>
			
			<div id="content">
				{snippet flashes}
				{if count($flashes)}
				<div class="flashes">
					<ul>
					{foreach $flashes as $flash}
						<li class="{$flash->type}">{$flash->message}</li>
					{/foreach}
					</ul>
				</div>
				{/if}
				{/snippet}
				
				{include #content}
			</div>
			
			<div class="cleaner"></div>
			
		</div>
		
	</div>
		
	<div class="cleaner"></div>
	
	<div id="footerWrapper">
		<div id="footer">
			<div class="top">
				<div class="box boxFirst">
					<h2>Kde nás najdete?</h2>
					<dl>
						<dt><a href="http://www.example.com/" title="Cyklo shop">Cyklo shop</a></dt>
						<dt>Example Street 1</dt>
						<dt>000 00 Example City</dt>
						<dt><a n:href=":Front:Contact:default#toc_map" title="Mapa">(mapa <img src="./css/images/icon-new-window.png" alt="" />)</a></dt>
					</dl>
					<dl>
						<dt>tel/fax: </dt>
						<dd>+420&nbsp;XXX&nbsp;XXX&nbsp;XXX</dd>

						<dt>mobil: </dt>
						<dd>+420&nbsp;XXX&nbsp;XXX&nbsp;XXX</dd>

						<dt>email:</dt>
						<dd>
							<a href="mailto:info@example.com" title="info@example.com">info@example.com</a>
						</dd>
						
						<dt>IČ:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</dt>
						<dd>00000000</dd>
					</dl>
				</div>
				
				<div class="box">
					<h2>Otevírací doba:</h2>
					<dl>
						<dt>Po - Pá:</dt>
						<dd class="right">8:00 - 11:30<br />13:00 - 17:00</dd>
						
						<dt>So:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</dt>
						<dd class="right">8:00 - 11:30</dd>
					</dl>
				</div>
				
				<div class="box boxLast">
					<h2>Těšíme se na Vaší návštěvu!</h2>
					{*
					<p>Lorem ipsum dolor condimentum velit orci nascetur lorem lacinia Nullam convallis Vestibulum elit Sed In sit amet consectetuer cursus elit id nascetur tincidunt lobortis elit pretium Phasellus tempor elit pretium Phasellus tempor elit vel et Aliquam lacinia.</p>
					*}
					{if $menuItems->count()}
					<div class="menu">
						<ul>
							{foreach $menuItems as $item}
							<li>
							{if $item['page_id'] == NULL}
							<a href="{$item->url}" title="{$item->title}">{$item->name}</a>
							{else}
							<a n:href=":Front:Cms: uri => $item->url, id => NULL" title="{$item->title}">{$item->name}</a>
							{/if}
							</li>
							{/foreach}
						</ul>
					</div>
					{/if}
				</div>
			</div>
			
			<div class="bottom">
				<div class="menu">
					<ul>
						<li><a n:class="$presenter->name == 'Front:Homepage' ? active" n:href=":Front:Homepage: id => NULL" title="Úvod">Úvod</a></li>
						<li><a n:class="$presenter->name == 'Front:Gallery' ? active" n:href=":Front:Gallery: id => NULL" title="Galerie">Galerie</a></li>
						<li><a n:class="$presenter->name == 'Front:Guestbook' ? active" n:href=":Front:Guestbook: id => NULL" title="Diskuze">Diskuze</a></li>
						<li><a n:class="$presenter->name == 'Front:Contact' ? active" n:href=":Front:Contact: id => NULL" title="Kontakt">Kontakt</a></li>
						<li><a n:class="$presenter->name == 'Front:SiteMap' ? active" n:href=":Front:SiteMap: id => NULL" title="Mapa stránek">Mapa stránek</a></li>
					</ul>
				</div>
				
				<div class="copyright"><p>Copyright &copy; 2002 - 2012 <a href="http://www.example.com/">Cyklo shop</a> | <a n:href=":Admin:Default:">Administrační systém</a>.</p></div>
				<div class="counter">
					<a href="http://www.toplist.cz/">
						<script type="text/javascript">
						// <![CDATA[
							document.write('<img src="http://toplist.cz/dot.asp?id=000000&amp;http='+escape(document.referrer)+'&amp;t='+escape(document.title)+'&amp;wi='+escape(window.screen.width)+'&amp;he='+escape(window.screen.height)+'&amp;cd='+escape(window.screen.colorDepth)+'" width="1" height="1" border=0 alt="" />');
						// ]]>
						</script>
					</a>
					<noscript><div><img src="http://toplist.cz/dot.asp?id=000000" alt="TOPlist" width="1" height="1" /></div></noscript>
					
					<!-- BlueBoard.cz Pocitadlo -->
					<span id="bbpocitadlo-span-XXXXXXXX"><a id="bbpocitadlo-XXXXXXXX" href="http://miniaplikace.blueboard.cz"></a></span>
					<script type="text/javascript" src="http://miniaplikace.blueboard.cz/counter_1.php?jid=XXXXXXXX"></script>
					<!-- BlueBoard.cz Pocitadlo KONEC -->
				</div> 
			</div>
		</div>
	</div>
  
</body>
</html>