# see https://doc.nette.org/en/configuring

parameters:
	database:
		driver: mysql
		host: db
		dbname: app
		user: app
		password: app

	defaults:
		seoTitle: "Prodej a servis jízdních kol"
		seoKeywords: "cyklo, shop, jízdní kola, prodej, servis"
		seoDescription: "Cyklocentrum, prodej a servis jízdních kol, příslušenství a cyklistického oblečení."

	resourcesDir: '%wwwDir%/resources'


application:
	debugger: true
	errorPresenter:
		4xx: Error:Error4xx
		5xx: Error:Error5xx
	mapping: App\Presentation\*\**Presenter


database:
	dsn: '%database.driver%:host=%database.host%;dbname=%database.dbname%'
	user: %database.user%
	password: %database.password%


latte:
	strictParsing: yes
	extensions:
		- App\Presentation\Accessory\LatteExtension


assets:
	mapping:
		default:
			path: assets


di:
	export:
		parameters: no
		tags: no
