{var $robots = noindex}
{block #content}

<h1 n:block=title>Stránka nenalezena</h1>

<div class="wysiwyg">
	<p>Stránka, kterou se pokoušíte zobrazit nebyla nalezena. Je možné, že adresa této stránka není správně zadána, nebo byla stránka smazána a již neexistuje.</p>
	<p><small>error 404</small></p>
</div>