{**
 * @filesource  Contact/default.latte
 * 
 * @author      Ing. Vojtech Krupicka
 * @copyright   HassaSimple Framework
 * @package     AdminModule
 * @version     1.0.0
 *}
 
{block #content}
<div class="breadcrumb">
	<ul>
		<li><a title="Úvod" n:href=":Front:Homepage: id => NULL">Úvod</a><span>&gt;</span></li>
		<li><a title="Kontakt" n:href=":Front:Contact: id => NULL" class="active">Kontakt</a></li>
	</ul>
	<div class="cleaner"></div>
</div>

<h1 n:block=title>Kontakt</h1>

<div class="contact">
	<h2 id="toc_info">Cyklo shop</h2>
	<dl>
		<dt>Prodej a servis jízdních kol</dt>
		<dt>Adresa:</dt>
			<dd>Example Street 1,</dd>
			<dd>Example City, 000 00, Example Region</dd>
		<dt>Telefon:</dt>
			<dd>+420 XXX XXX XXX</dd>
		<dt>Mobil:</dt>
			<dd>+420 XXX XXX XXX</dd>
		<dt>E-mail:</dt>
			<dd><a href="mailto:info@example.com" title="info@example.com">info@example.com</a></dd>
		<dt>WWW:</dt>
			<dd><a href="http://www.example.com" title="http://www.example.com">http://www.example.com</a></dd>
		<dt>IČ:</dt>
			<dd>00000000</dd>
	</dl>

	<div class="image">
		<div class="gallery">
			<div class="item">
				<a rel="shadowbox[contact] "href="{$baseUrl}/images/promo1.jpg" title="Cyklo shop"><img src="{$baseUrl}/images/promo1_thumb.jpg" alt="" /></a>
			</div>
			<div class="item">
				<a rel="shadowbox[contact] "href="{$baseUrl}/images/promo2.jpg" title="Cyklo shop"><img src="{$baseUrl}/images/promo2_thumb.jpg" alt="" /></a>
			</div>
		</div>
	{*
		<a rel="shadowbox[contact] "href="{$baseUrl}/images/promo1.jpg" title="Cyklo shop"><img src="{$baseUrl}/images/promo1_thumb.jpg" alt="" /></a>
		<a rel="shadowbox[contact] "href="{$baseUrl}/images/promo1.jpg" title="Cyklo shop"><img src="{$baseUrl}/images/promo1_thumb.jpg" alt="" /></a>
	*}
	</div>
	
	
	<div class="cleaner"></div>
	

	<h2 id="toc_open">Otevírací doba</h2>
	<table>
		<tr>
			<th class="left" style="width: 25%;">Pondělí</th>
			<td class="right" style="width: 37%">8:00 - 11:30</td>
			<td class="right" style="width: 37%">13:00 - 17:00</td>
		</tr>
		<tr>
			<th class="left">Úterý</th>
			<td class="right">8:00 - 11:30</td>
			<td class="right">13:00 - 17:00</td>
		</tr>
		<tr>
			<th class="left">Středa</th>
			<td class="right">8:00 - 11:30</td>
			<td class="right">13:00 - 17:00</td>
		</tr>
		<tr>
			<th class="left">Čtvrtek</th>
			<td class="right">8:00 - 11:30</td>
			<td class="right">13:00 - 17:00</td>
		</tr>
		<tr>
			<th class="left">Pátek</th>
			<td class="right">8:00 - 11:30</td>
			<td class="right">13:00 - 17:00</td>
		</tr>
		<tr>
			<th class="left">Soborta</th>
			<td class="right">8:00 - 11:30</td>
			<td class="right">ZAVŘENO</td>
		</tr>
		<tr>
			<th class="left">Neděle</th>
			<td class="right">ZAVŘENO</td>
			<td class="right">ZAVŘENO</td>
		</tr>
		<tr>
			<td class="left" colspan="3" style="font-style: italic;">Pozn.: v případě nutnosti je možné otvírací dobu po domluvě libovolně prodloužit.</td>
		</tr>
	</table>


	<h2 id="toc_map">Mapa</h2>
	<script type="text/javascript" src="http://api4.mapy.cz/loader.js"></script>
	<script type="text/javascript">Loader.load();</script>
	<div id="mapa"></div>
	<script type="text/javascript">
	    var center = SMap.Coords.fromWGS84(14.4208,50.0880, { orientation:SMap.NORTH});
	    var mapa = new SMap(JAK.gel("mapa"), center,16);
	    mapa.addDefaultLayer(SMap.DEF_SMART).enable();
	    mapa.addDefaultControls();
	    var node = JAK.mel("a",{ href:"http://mapy.cz/s/4MUd",target:'_blank'},{ fontSize:"13px",lineHeight:"100%",fontFamily:"Arial,Verdana,sans-serif",textAlign:"center",display:"block",width:"165px", height:"33px",overflow:"hidden",textDecoration:"none",background:"transparent url(http://api4.mapy.cz/img/web/button-zobrazit.png) no-repeat",position:"absolute",left:"4px",bottom:"26px"});
	    node.innerHTML = '<span style="position:relative; top:10px;text-shadow:0px 1px 1px #fff;color:#000;display:inline-block;padding-left:18px;background:transparent url(http://api4.mapy.cz/img/web/ico-zobrazit.png) 0 0 no-repeat">Zobrazit na Mapy.cz</span>';
	    JAK.gel("mapa").appendChild(node);
	    var layer = new SMap.Layer.Marker();
	    mapa.addLayer(layer);
	    layer.enable();
	    var markerCoord = SMap.Coords.fromWGS84(14.4208,50.0880);
	    var marker = new SMap.Marker(markerCoord,"MyMarker",{ url:SMap.CONFIG.img + "/marker/drop-blue-asterisk.png"});
	    layer.addMarker(marker);
	    var overview = new SMap.Control.Overview();
	    mapa.addControl(overview);
	</script>
	
</div>