{**
 * @filesource  Default/default.latte
 * 
 * @author      Ing. Vojtech Krupicka
 * @copyright   HassaSimple Framework
 * @package     AdminModule
 * @version     1.0.0
 *}
 
{block #content}
<div class="breadcrumb">
	<ul>
		<li><a title="Úvod" n:href=":Admin:Default: id => NULL">Úvod</a><span>&gt;</span></li>
		<li><a title="Galerie" n:href=":Admin:Gallery: id => NULL" class="active">Galerie</a></li>
	</ul>
	<div class="cleaner"></div>
</div>

<h1 n:block=title>Galerie</h1>

<div class="tools mainTools">
	<ul>
		<li><a n:href="add" title="Nová galerie" class="new"><img class="add" src="{$baseUrl}/images/x.png" alt="" /> Nová galerie</a></li>
	</ul>
</div>

<div class="cleaner"></div>

{if $galleries}
{snippet galleries}
<table class="datagrid">
	<tr>
		<th style="width: 32px;">#id</th>
		<th style="width: 128px">Vytvořeno</th>
		<th class="left">Název</th>
		<th style="width: 96px;">Volby</th>
	</tr>
	
	{foreach $galleries as $gallery}
	<tr n:class="($iterator->even) ? even">
		<td>{$gallery->id}</td>	
		<td>{$gallery->added|date:"H:i:s d.m.Y"}</td>
		<td class="left">{$gallery->name}</td>
		<td class="tools">
			<ul>
				<li><a n:href="delete! galleryId => $gallery->id" title="Smazat galerii" onclick="return confirm('Opravdu chcete smazat tuto galerii? Tato akce je permamentní!');"><img class="delete" src="{$baseUrl}/images/x.png" alt="" /></a></li>
				<li><a n:href="edit id => $gallery->id" title="Upravit galerii"><img class="gallery-edit" src="{$baseUrl}/images/x.png" alt="" /></a></li>
				{if $gallery->active}
				<li><a n:href="activate! galleryId => $gallery->id, flag => false" title="Aktivní - deaktivovat?" onclick="return confirm('Opravdu chcete galerii deaktivovat?');"><img class="activate" src="{$baseUrl}/images/x.png" alt="" /></a></li>
				{else}
				<li><a n:href="activate! galleryId => $gallery->id, flag => true" title="Neaktivní - aktivovat?" onclick="return confirm('Opravdu chcete galerii aktivovat?');"><img class="deactivate" src="{$baseUrl}/images/x.png" alt="" /></a></li>
				{/if}
			</ul>		
		</td>
	</tr>
	{/foreach}
	
</table>
{/snippet}
{/if}
