{**
 * @filesource  Cms/editItem.latte
 * 
 * @author      Ing. Vojtech Krupicka
 * @copyright   HassaSimple Framework
 * @package     AdminModule
 * @version     1.0.0
 *}
 
{block #content}
<div class="breadcrumb">
	<ul>
		<li><a title="Úvod" n:href=":Admin:Default: id => NULL">Úvod</a><span>&gt;</span></li>
		<li><a title="Galerie" n:href=":Admin:Gallery: id => NULL">Galerie</a><span>&gt;</span></li>
		<li><a title="Editace galerie" n:href="this" class="active">Editace galerie</a></li>
	</ul>
	<div class="cleaner"></div>
</div>

<h1 n:block=title>Editace galerie <a class="backlink" n:href=":Admin:Gallery: id => NULL" title="Vrátit zpět na předchozí stránku"></a></h1>

{if $gallery !== NULL}
	{control galleryEdit}
	{control galleryItemAdd}
	{snippet galleryItems}
	{if $galleryItems}
	<div class="gallery-items">
		{foreach $galleryItems as $item}
		{snippet galleryItem-$item->id}
		{form galleryItemEdit-$item->id, class=>'ajax'}
		<div class="item">
			<div class="left">
				{var $fullFileName = $wwwDir."/resources/galleries/gallery_".$gallery->id."/".$item['file_name']}
				{if is_file($fullFileName)}
				<a rel="shadowbox[gallery_{$gallery->id}]" href="{$baseUrl}/resources/galleries/gallery_{$gallery->id}/{$item['file_name']}" title="{$item['title']}">
					<img src="{$baseUrl}/resources/galleries/gallery_{$gallery->id}/thumb_{$item['file_name']}" alt="{$item['title']}" />
				</a>
				{else}
					<img src="{$baseUrl}/images/no-image.png" title="{$item['title']}" alt="{$item['title']}" />
				{/if}
			</div>
			<div class="info">
				<table class="form">
					<tr>
						<td>{input title}</td><td>{input save}</td>
					</tr>
					<tr>
						<td colspan="2">{input description}</td>
					</tr>
				</table>
			</div>
			<div class="tools">
				<div class="time">{$item->added|date:'H:i:s d.m.Y'}</div>
				<ul>
					<li><a n:href="deleteItem! itemId => $item->id" title="Smazat obrázek" onclick="return confirm('Opravdu chcete smazat tento obrázek? Tato akce je permamentní!');"><img class="delete" src="{$baseUrl}/images/x.png" alt="" /></a></li>
					{if ($iterator->counter) < $galleryItems->count()}
					<li><a n:href="moveItem! itemId => $item->id, up => false" title="Posunout dolu" onclick="return confirm('Opravdu chcete pousnout obrázek dolů?');"><img class="move-down" src="{$baseUrl}/images/x.png" alt="" /></a></li>
					{else}
					<li><img class="move-down-disabled" src="{$baseUrl}/images/x.png" alt="" /></li>
					{/if}
					{if ($iterator->counter-1) > 0}
					<li><a n:href="moveItem! itemId => $item->id, up => true" title="Posunout nahoru" onclick="return confirm('Opravdu chcete pousnout obrázek nahoru?');"><img class="move-up" src="{$baseUrl}/images/x.png" alt="" /></a></li>
					{else}
					<li><img class="move-up-disabled" src="{$baseUrl}/images/x.png" alt="" /></li>
					{/if}
					
					{if $item->active}
					<li><a n:href="activateItem! itemId => $item->id, flag => false" title="Aktivní - deaktivovat?" onclick="return confirm('Opravdu chcete položku menu deaktivovat?');"><img class="activate" src="{$baseUrl}/images/x.png" alt="" /></a></li>
					{else}
					<li><a n:href="activateItem! itemId => $item->id, flag => true" title="Neaktivní - aktivovat?" onclick="return confirm('Opravdu chcete položku menu aktivovat?');"><img class="deactivate" src="{$baseUrl}/images/x.png" alt="" /></a></li>
					{/if}
				</ul>
			</div>
			<div class="cleaner"></div>
		</div>
		{/form}
		{/snippet}
		{/foreach}
	</div>
	{/if}
	{/snippet}
	
	
	{if $gallery['allow_comments']}
		{control galleryComments}
	{/if}
{/if}
	