{**
 * @filesource  Sitemap/default.latte
 * 
 * @author      Ing. Vojtech Krupicka
 * @copyright   HassaSimple Framework
 * @package     AdminModule
 * @version     1.0.0
 *}
 
{block #content}
<div class="breadcrumb">
	<ul>
		<li><a title="Úvod" n:href=":Front:Homepage: id => NULL">Úvod</a><span>&gt;</span></li>
		<li><a title="Mapa stránek" n:href=":Front:Sitemap: id => NULL" class="active">Mapa stránek</a></li>
	</ul>
	<div class="cleaner"></div>
</div>

<h1 n:block=title>Mapa stránek</h1>

<div class="wysiwyg">
	<h2>Hlavní nabídka</h2>
	<ul>
		<li><a n:class="$presenter->name == 'Front:Homepage' ? active" n:href=":Front:Homepage: id => NULL" title="Úvod">Úvod</a></li>
		<li>
			<a n:class="$presenter->name == 'Front:Gallery' ? active" n:href=":Front:Gallery: id => NULL" title="Galerie">Galerie</a>
			{if $galleries->count()}
			<ul>
				{foreach $galleries as $gallery}
				<li><a n:href=":Front:Gallery:detail id => $gallery->id" title="{$gallery->name}">{$gallery->name}</a></li>
				{/foreach}
			</ul>
			{/if}
		</li>
		<li><a n:class="$presenter->name == 'Front:Guestbook' ? active" n:href=":Front:Guestbook: id => NULL" title="Diskuze">Diskuze</a></li>
		<li><a n:class="$presenter->name == 'Front:Contact' ? active" n:href=":Front:Contact: id => NULL" title="Kontakt">Kontakt</a></li>
		<li><a n:class="$presenter->name == 'Front:SiteMap' ? active" n:href=":Front:SiteMap: id => NULL" title="Mapa stránek">Mapa stránek</a></li>
	</ul>
	
	{if $cmsItems->count()}
	<h2>Vlastní obsah</h2>
		{var $level = 0}
		{block cmsTree}
		<ul>
			{foreach $cmsItems as $item}
			<li>
			{if $item['page_id'] == NULL}
			<a href="{$item->url}" title="{$item->title}">{$item->name}</a>
			{else}
			<a n:href=":Front:Cms: uri => $item->url, id => NULL" title="{$item->title}">{$item->name}</a>
			{/if}
			
			{var $childrens = $presenter->context->createMenuItems()->where('parent_id', $item->id)->where('active', true)->order('sort_order ASC')}
			{if $childrens->count()}
				{include #cmsTree, cmsItems => $childrens, level => $level + 1}
			{/if}
			</li>
			{/foreach}
		</ul>
		{/block}
	{/if}
	
</div>

