{block #content}

{if $gallery}
    <div class="gallery">
    {foreach $gallery as $item}
        <div n:class="item, ($iterator->first) ? itemFirst, ($iterator->last) ? itemLast">
            <a n:href=":FrontModule:Gallery:detail id => $item->gallery_id" title="{$item['title']}">
                <img src="{$baseUrl}/resources/galleries/gallery_{$item['gallery_id']}/thumb_{$item['file_name']}" alt="{$item['title']}" />
            </a>
        </div>
    {/foreach}
    </div>
{/if}

<div class="wysiwyg">
{$homepage->content|noescape}
</div>

{/block}
